.lctimer-container {
    display: flex;
    column-gap: 6px;
    align-items: stretch;
    padding-top: 3px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lctimer-container .switch {
    display: flex;
	flex: 0 0 40px;
	margin-inline-start: 6px;
    align-items: center;
}

.lctimer-container .settings-gear {
	color: var(--c-font-dim);
	font-size: 16px;
	padding: 0 6px;
	margin-inline-end: 6px;
	margin-top: -3px;
    background: none;
    border: none;
    outline: none;
}

#lcpuzzletimer {
    font-size: 2em;
}

#lctimer-settings {
    margin: auto;
    padding: 1em;
    color: var(--c-font);
	background: var(--c-bg-box);

    display: flex;
    flex-direction: column;
}

#lctimer-settings .lcsettings-row {
    display: flex;
    justify-content: space-between;
}

#lctimer-settings > * {
    padding-top: 5px;
    padding-bottom: 5px
}

#lctimer-settings form {
    align-self: end;
}
